.layer-eqp-item {
  border: 1px solid #000000;
  background-color: transparent;
  color: #fff;
  font-weight: 100;
  font-size: 5px;
  line-height: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;            

  i{
    opacity: 1;
  }
}

.layoutEditContainer{
  height: 100%;

  :global{
    .card{
      border-color: #BABFC7;

      .card-header{
        background-color: #F8F8F8;
        border-bottom-color: #BABFC7;
        padding: 1.5px;
      }

      .card-body{
        .table-emaplayout.table{
          margin-bottom: 5px;

          tr{
            border-color: #ccc;

            td{
              background-color: white;
              border-color: #bbb;
              text-align: center;
              vertical-align: middle;
              font-size: 17px;
              font-weight: bolder;
              font-family: tahoma;
              padding: 0;
            }

            td:hover{
              background-color: #eee;
            }

            td.setted{
              background-color: #eaf3ff;
            }
          }
        }
      }
    }

    .chart-spinner-wrap{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 9998;
      display: none;

      .chart-spinner{
        position: absolute;
        top: 48%;
        left: 47%;    
        width: 50px;
        height: 50px;
  
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.8);
  
        padding: 8px;
  
        z-index: 9999;
      }  
    }
  }
}

.unionGridWrap{
  :global{
    .search-label{
      color: #fff;
      font-size: 15px;
      font-weight: bolder;
      display: inline-block;
      padding: 5px 20px;
      margin-top: 0;
    }

    .search-aoi{
      background-color: rgb(78, 192, 78);
    }

    .search-bbt{
      background-color: rgb(102, 137, 211);
    }

    .search-blackhole{
      background-color: #bbc200;
    }

    .search-aoi-bbt{
      background-color: rgb(192, 78, 78);
    }

    .cell-link{
      text-decoration: underline;
      cursor: pointer;
    }

    .judge-ng{
      color: rgb(255, 0, 0);
    }

    .table-emapping.table{
      margin-bottom: 5px;

      tr{
        border-color: #ccc;

        td{
          background-color: white;
          border-color: #bbb;
          text-align: left;
          vertical-align: top;
          padding: 0;

          .total-wrap{
            height: 100%;
            width: 100%;
            padding: 5px;

            > div{
              display: flex;
              height: 100%;
              width: 100%;
  
              > div{
                display: flex;
                justify-content: center;
                align-items: center;                
              }

              .total-aoi{
                background-color: rgb(78, 192, 78);
              }

              .total-bbt{
                background-color: rgb(102, 137, 211);
              }

              .total-blackhole{
                background-color: #bbc200;
              }
            }
          }

          .total-container-v{

            > div{
              cursor: pointer;
              height: 33.333%;
              flex-direction: row;
            }
          }
          
          .total-container-h{

            > div{
              cursor: pointer;
              width: 33.333%;
              flex-direction: column;
            }
          }

          .pcs-index{
            display: inline-block;
            margin-left: 2px;
            margin-top: 0px;
            font-weight: 10px;
            font-weight: bolder;
            color: #bbb;
            position: absolute;
          }

          .ng-container::-webkit-scrollbar {
            display: none;
          }

          .ng-container {
            overflow: scroll;
            height: 100%;
            width: 100%;
            padding: 3px;

            > div {
              height: 100%;
              box-sizing: border-box;
              cursor: pointer;

              > div {
                z-index: 1;
                aspect-ratio: 1;
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
                margin: auto;
                color: #fff;
                font-weight: bolder;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                text-align: center;
              }    

              .pcs-aoi{
                background-color: rgb(78, 192, 78);
              }
    
              .pcs-aoi-bbt{
                background-color: rgb(20, 171, 190);
              }
    
              .pcs-bbt{
                background-color: rgb(102, 137, 211);
              }    
            }
          }
        }

        td:hover{
          background-color: #eee;
        }

        td.pcs-blackhole{
          background-color: #fdffbc;
        }
      }
    }
  }
}