.operation {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  //16ff00  가동
  //E90064  비가동
  i {
    font-size: 20px;
  }
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #f5d900;
  font-weight: bold;
}
.updateTime {
  flex: 1.2;
  font-size: 20px;
  color: #dcdcdc;
}

.date{
  :global
  {
    @media (max-width: 991.98px) { 
      span{
        margin-top: 7px;
        font-size: 1.9rem;
      }

      div{
        font-size: 0.9rem;
      }
    }
  }
}


