$bgColor-black: #292d36;
$bgColor-blue: rgb(42, 45, 54);
$borderColor: #717171;
$borderColor-tab: #e5a81e;
$planColor: #3d79c6;
$targetColor: #07e4c2;
$totalColor: #f6bf0a;
$achievementRate: #8c53ac;
