.ngContainer{
  :global {

    .ag-theme-alpine{
      .eqp-4m-yy{
        background-color: #f4ffeb;
      }
      
      .eqp-4m-yn{
        background-color: #fdfde4;
      }

      .eqp-4m-ny{
        background-color: #fdfde4;
      }

      .eqp-4m-nn{
        background-color: #eee;
      }

      .eqp-container-y{
        .eqp-status{
          color: rgb(33, 197, 0);
        }
      }

      .eqp-container-n{
        .eqp-status{
          color: rgb(255, 0, 0);
        }
      }

      .panel4m-container-y{
        .panel4m-status{
          color: rgb(33, 197, 0);
        }
      }

      .panel4m-container-n{
        .panel4m-status{
          color: rgb(255, 0, 0);
        }
      }
    }
  }
}