.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  color: #fff;
}

.header {
  height: 35px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.searchLayout {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: start;
  align-items: center;

  input {
    border-color: #888;
    color: #ccc;
    background-color: #111313;
  }

  select {
    border-color: #888;
    color: #ccc;
    background-color: #111313;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.totalTable {
  width: 100%;
  display: flex;
  min-height: 240px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
}

.realChart {
  width: 100%;
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.writeAction {
  width: 100%;
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.layout::-webkit-scrollbar {
  background-color: #424242;
}
.laout::-webkit-scrollbar-thumb {
  background-color: #686868;
}
